[gui]
	recentrepo = C:/Program Files/Arduino/hardware/espressif/esp32
[user]
	email = danilogrnd@gmail.com
	name = danilogf91
[credential]
	helper = "!f() { /home/esp/.vscode-server/bin/e170252f762678dec6ca2cc69aba1570769a5d39/node /tmp/vscode-remote-containers-6bfbca4e-c845-4a8e-b689-c072a990636b.js git-credential-helper $*; }; f"
